/* lazyload css */
.loadmore {
    visibility: hidden;
    margin: 3px;
    padding: 3px;
}
/* waterfall */
body {
    font-family: STHeiti,'Microsoft YaHei',Helvetica,Arial,sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #222;
    -webkit-tap-highlight-color: transparent;
}
.wrap {
    /*width: 900px;*/
        margin-top: 88px;
}
.clearfix:after {
    content: '';
    display: block;
    clear: both;
}
#pic-ct .item {
    background: #FFF;
    border-bottom: 1px solid #DBDBDB;
    padding: 4px;
    margin: 3px;
}
#pic-ct .item img {
    float: left;
    width: 124px;
    margin-right: 12px;
    height: 90px;
}
#pic-ct .item .header {
    height: 25px;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 16px;
    font-weight: 400;
}
#pic-ct .desp {
    font-size: 14px;
    line-height: 1.5;
    margin: 10px 0 0 134px;
    color: #777371;
    height: 44px;
    overflow: hidden;
}
#load {
    visibility: hidden;
    height: 20px;
}
.hide {
    display: none;
}
/* header */
.head .headTop {
    background-color: #D43D3D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    color: white;
    line-height: 44px;
}
.head .letter {
    background: url('image/letter.png') no-repeat;
    background-size: contain;
    width: 32px;
    height: 25px;
}
.head .refresh {
    display: flex;
}
.head .refresh h3{
    font-size: 18px;
}
.head .refresh span{
    background: url(image/refresh.png) no-repeat;
    width: 25px;
    background-size: 15px;
    background-position: center;
}
.head .headTop .search>a{
    background: url('image/search.png');
    display: inline-block;
    width: 24px;
    height: 24px;
    background-size: contain;
    vertical-align: middle;
    user-select: none;
}
.navbar {
    background-color: #f4f5f6;
}
header.head {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
.navbar .allBar ul {
    display: flex;
    justify-content: space-around;
    background-color: #F4F5F6;
    line-height: 40px;
}
.navbar .allBar li>a {
    color: #505050;
    font-size: 17px;
    line-height: 26px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    -webkit-tap-highlight-color: rgba(0,0,0,.3);
    white-space: nowrap;
}
.removeScroll {
    overflow: hidden;
    height: 38px;
}
.allBar {
    overflow-x: scroll;
    white-space: nowrap;
    height: 60px;
}
.navbar .addBar {
    position: absolute;
    right: 0;
    line-height: 38px;
    background-color: #f4f5f6;
}
.navbar .addBar>a{
    background: url(image/addChannels.png) no-repeat 50%;
    display: block;
    width: 40px;
    height: 38px;
    background-size: 20px;
}
.tipLoad {
    display: none;
    text-align: center;
}
.tipLoad+span {
    text-align: center;
    position: fixed;
    background-color: rgba(193, 184, 184, 0.8);
    width: 100%;
    line-height: 30px;
    top: 80px;
    display: none;
}
.refresh .rotate {
animation: xyRotate .7s linear;
}
@keyframes xyRotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
         }
    100% {
     transform: rotate(1turn);
    }
}
/* popup modul */
.modul {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(0,0,0,.5);
    display: none;
}
.modul .popup {
    width: 270px;
    height: 225px;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -113px;
    margin-left: -135px;
    border-radius: 4px;
}
.modul .banner {
    margin-top: 10px;
    margin-left: 54px;
    width: 165px;
    height: 121px;
    background: url('image/modul.png') no-repeat;
    background-size: contain;
}
.modul .closePopup {
    width: 40px;
    height: 32px;
    background: url('image/cancel.png') no-repeat 50%;
    background-size: 17px;
    position: absolute;
    right: 0;
    top: 0;
}
.modul p {
    text-align: center;
    color: #a5a5a5;
    font-size: 17px;
    margin-top: 6px;
    margin-bottom: 24px;
}
.modul .openNow {
    margin-left: 25px;
    width: 220px;
    background: #ff6762;
    text-align: center;
    line-height: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 10px;
    text-shadow: 0 1px 1px #f0221c;
    color: #fff;
    font-size: 20px;
}